


<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="stylesheets/next.css">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
     
      
      <div class="formbold-main-wrapper">
            <form action="/vaccine" method="POST">

                  
           
            
                  <div class="formbold-mb-3">
                        <label for="name" class="formbold-form-label"> Name of the Vaccine </label>
                        <input type="text" name="name" id="name" {{#if details}}{{#each details}}value="{{this.vaccinename}}" {{/each}}{{else}} value="" {{/if}}class="formbold-form-input"/>
                  </div>

                  <div class="formbold-mb-31">
                        <label for="id1" class="formbold-form-label"> Vaccine ID </label>
                        <input type="text" name="id1" id="id1" {{#if details}}{{#each details}}value="{{this.Vaccine_id}}"{{/each}}{{else}}value="" {{/if}} class="formbold-form-input"/>
                  </div>

                  <div class="formbold-mb-32">
                        <label for="dob" class="formbold-form-label"> Date of Manufacturing </label>
                        <input type="text" name="dob" id="dob" {{#if details}}{{#each details}} value="{{this.Manufact_d}}"{{/each}} {{else}} value=""{{/if}} class="formbold-form-input"/>
                  </div>

                  <div class="formbold-mb-33">
                        <label for="dobb" class="formbold-form-label"> Date of Expiry </label>
                        <input type="text" name="dobb" id="dobb"   class="formbold-form-input"/>
                  </div>

                  <div class="formbold-mb-34">
                        <label for="temp" class="formbold-form-label"> Temperature(in degrees) </label>

                        <input type="text" value="{{datatemp}}" name="temp"  id="temp" class="formbold-form-input formbold-mb-3"/>
                  </div>
                  <div class="formbold-mb-35">
                        <label for="temp" class="formbold-form-label"> Available Units </label>
                  
                        <input type="text" name="units" id="units" class="formbold-form-input formbold-mb-3" />
                  </div>
                  
                  <button class="button2"  onclick="window.location.href='slot.html'">GO BACK </button>
                  
                  <button class="formbold-btn">Submit</button>
                 
            </form>
      </div>
      </div>
     
</body>

<script>    
      </script>

